<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/nav_footer.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="/static/css/attraction.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/nav_footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/attraction.css') }}">
</head>
<body>
    <div id="app">
            <div id="signInSignUp">
        <nav>
            <div class="nav">
                <a class="title" href="/">台北一日遊</a>
                <div class="nav_btn">
                    <div class="schedule_btn" @click="clickScheduleBtn()">預定行程</div>
                    <div class="signin_up_btn" v-text="signInUpBtn" @click.stop="clickSignInUpBtn()"></div>
                </div>
            </div>        
        </nav>
        <div class="signInSignUp">
            <div class="signIn" v-if="signInShow">
            <!-- <div class="attraction_img" :style="`background-image: url('${attraction.images[0]}')`"></div> -->
            <div class="docoratorBar"></div>
            <form id="signIn" method="put" @submit.prevent="signIn()">
            <!-- 我原本預想加上method不要讓網址出現querystring，這裡加上沒問題 -->
                <div class="sign_title">
                    登入會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign" @click="clickCloseBtn()">
                </div>
                <div class="form_content">
                    <input type="email" placeholder="輸入電子信箱" name="email" v-model="signInEmail" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" v-model="signInPassword" required><br>
                    <button type="submit">登入帳戶</button>
                </div>  
            </form>
            <div class="message">
                <div id="message" v-text="signInMessage"></div>
                <div>還沒有帳戶？<span id="to_signup" @click="click_to_signUp()">點此註冊</span></div>
            </div>
        </div>
        <div class="signUp" v-if="signUpShow">
            <div class="docoratorBar"></div>
            <!-- <form id = "signUp" method="post"> 
                為什麼這樣寫會有問題？ 我在js中註冊有加上e.preventDefault() -->
            <form id = "signUp" method="post" @submit.prevent="signUp()"> <!-- form才有submit事件 -->
                <div class="sign_title">
                    註冊會員帳號<img src="/static/images/icon_close.png" alt="close" class="close_sign" @click="clickCloseBtn()">
                </div>
                <div class="form_content">
                    <input type="text" placeholder="輸入姓名" name="name" v-model="signUpName" required><br>
                    <input type="email" placeholder="輸入電子信箱" name="email" v-model="signUpEmail" required><br>
                    <input type="password" placeholder="輸入密碼" name="password" v-model="signUpPassword" required><br>
                    <!-- <button type="submit" @click.prevent="signUp()">註冊新帳戶</button> -->
                    <button type="submit">註冊新帳戶</button>
                </div>  
            </form>
                <div class="message">
                    <div id="message" v-text="signUpMessage"></div>
                    <div>已經有帳戶了？<span id="to_signin" @click="click_to_signIn()">點此登入</span></div>
                </div>
        </div>
    </div>

    </div>
    <div class="separator_nav"></div>
    <main>
        <div class="content">
            <div class="section">
                <div class="attraction_img">
                    <div class="slider" id="slider">
                        <img v-for="img in attraction['images']" v-bind:src="img">       
                    </div>
                    <div class="shift_btn">
                        <span class="right" id="right" @click="rightShift()"></span>
                        <span class="left" id="left" @click="leftshift()"></span>
                    </div>
                    <div class="slider_index" id="slider_index">
                        <!-- 這段最終還是有用到js語法 -->
                        <span v-for="img in attraction['images']"></span> 
                    </div>
                </div>
                <div class="profile">
                    <div class="name" v-text="attraction['name']"></div>
                    <div class="cat_mrt">
                        <span class="category" v-text="attraction['category']"></span>
                        <span>at</span>
                        <span class="mrt" v-text="attraction['mrt']"></span>
                    </div>
                    <form class="booking_form" @submit.prevent="addToCart()">
                        <div>訂購導覽行程</div>
                        <div>以此景點為中心的一日行程，帶您探索城市角落的故事</div>
                        <div class="date">
                            <label for="date">選擇日期：</label>
                            <input type="date" id="date" name="date" v-model="dateInputValue" v-bind:min="min" required>
                        </div>
                        <div class="time">
                            <span>選擇時間：</span>
                            <input type="radio" name="time" id="morning" value="morning" v-model="timeInputValue">
                            <label for="morning">上半天</label>
                            <input type="radio" name="time" id="afternoon" value="afternoon" v-model="timeInputValue">
                            <label for="afternoon">下半天</label>
                        </div>
                        <div class="price" >
                            導覽費用：<span id="price" v-text="price"></span>元
                        </div>
                        <button type="submit">開始預約行程</button>
                    </form>
                </div>
            </div>
            <div class="separator_main"></div>
            <div class="information">
                <div class="description" id="description" v-text="attraction['description']">
                    
                </div>
                <div class="address">
                    <span>景點位置：</span>
                    <div id="address" v-text="attraction['address']">
                        
                    </div>
                </div>
                <div class="transport">
                    <span>交通方式：</span>
                    <div id="transport" v-text="attraction['transport']">

                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>COPYRIGHT © 2021 台北一日遊</footer>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>const { createApp } = Vue</script>
    <script src="{{ url_for('static', filename='js/attraction.js') }}"></script>
</body>
</html>